body {
  font-family: Arial, Helvetica, sans-serif;
}

.col-2 h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.col-2 a {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-decoration: none;
  font-size: 0.9em;
}

.col-2 a:hover {
  text-decoration: underline;
  color: black;
}

@media screen and (max-width: 500px) {
  .side-panel {
    position: absolute;
    display: none;
  }
}

.flexnav .dropdown-menu.show {
  min-width: 100%;
}

@media screen and (max-width: 500px) {
  .flexnav .size {
    position: absolute;
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .flexnav .pattern {
    position: absolute;
    display: none;
  }
}

.card img {
  transition: 0.3s;
}
.card img:hover {
  position: relative;
  top: -7px;
}

.card .card-desc {
  font-family: Arial, Helvetica, sans-serif;
  color: #aeadad;
  font-size: 1em;
}

.card .price {
  color: black;
}

.card .buy-now {
  border-radius: 2px;
  color: white;
  border: none;
  background-color: rgb(99, 179, 104);
  transition: 0.3s;
}
.card .buy-now:hover {
  opacity: 0.8;
}
.footer {
  width: 100%;
  padding-left: 10px;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #efeeee;
}
.copyright {
  font-size: small;
  text-align: center;
  padding-bottom: 20px;
}
.social_media {
  display: flex;
  width: 200px;
  justify-content: space-around;
  margin: auto;
}
table {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
th {
  font-size: small;
  font-weight: 700;
  padding-left: 50px;
  padding-right: 50px;
  align-items: flex-start;
}
td {
  font-size: smaller;
  padding-left: 50px;
  padding-right: 50px;
  align-items: start;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.profilepic {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

.tweet {
  border: none;
  font-size: 20px;
  vertical-align: middle;
}

.tweetbutton {
  color: white;
  background-color: rgb(29, 155, 240);
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  vertical-align: middle;
}
.tweet {
  margin-top: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.tweet {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text-boxes {
  display: flex;
  flex-direction: column;
}

/* .message-button {
  align-self: center;
} */

.author-date-id, .tags {
  display: flex;
  flex-direction: row;
  margin: ;
}

ul {
  list-style-type: none;
}

.keywords {
  margin-left: 2rem;
  padding: 0.5rem;
  background-color: #DA5552;
  color: white;
}